body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    border: 2px solid #a9a7a7;
    border-radius: 5px;
    background-color: #dbd1d1;
}
form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #493df9;
    color: #fff;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}